@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    ;
    margin: 0;
    padding: 0;
}

:root {
    --color-background-black: rgba(0, 0, 0, 0.87);
    --color-text-white: #fff;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
.logo {
    border-radius: 50%;
    border-right: 4px solid white;
    display: inline-block;
    height: 50px;
    margin-left: 50px;
    width: 50px;
}

.logo:hover {
    animation-name: rotateLogo;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.logo span {
    font-size: 1.6em;
    font-family: 'Noto Serif', serif, sans-serif;
    position: fixed;
    left: 63px;
    top: 8px;
}

.header {
    align-items: center;
    color: var(--color-text-white);
    display: flex;
    font-size: 1.3em;
    font-weight: 600;
    height: 60px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.wrap-header {
    background-color: #1f1f1f;
    box-shadow: 0px 2px 10px #161616d2;
    transition: 0.3s ease-in;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 50px;
    position: relative;
}

.nav a {
    position: relative;
    padding-bottom: 10px;
}

.nav a::after {
    background-color: #fff;
    bottom: 0;
    content: " ";
    height: 3px;
    left: 0;
    position: absolute;
    transition: 0.5s ease-in-out;
    width: 0%;
}

.botton-effect:hover::after {
    width: 100%;
}

.menu a {
    color: var(--color-text-white);
    padding: 10px 0;
    text-decoration: none;
}

@keyframes rotateLogo {
    0% {
        border-right: 4px solid white;
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 0px solid rgba(0, 0, 0, 0);
    }

    25% {
        border-right: 0px solid rgba(0, 0, 0, 0);
        border-bottom: 4px solid white;
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 0px solid rgba(0, 0, 0, 0);
    }

    50% {
        border-right: 0px solid rgba(0, 0, 0, 0);
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 4px solid white;
        border-top: 0px solid rgba(0, 0, 0, 0);
    }

    75% {
        border-right: 0px solid rgba(0, 0, 0, 0);
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 4px solid white;
    }

    100% {
        border-right: 4px solid white;
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 0px solid rgba(0, 0, 0, 0);
    }
}

.btn-mobile {
    display: none;
    margin-right: 50px;
}

@media (max-width: 600px) {
    .menu {
        margin-right: 0;
        font-size: 2rem;
        text-align: center;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 59px;
        right: 0;
        height: 0px;
        transition: .6s ease-in-out;
        visibility: hidden;
        overflow-y: hidden;
        overflow: auto;
        z-index: 1000;
    }

    .menu li {
        padding: 26px;
    }

    .nav.active .menu {
        visibility: visible;
        height: calc(100vh - 59px);
    }

    .header.active {
        background-color: #1f1f1f;
    }

    body.active {
        overflow: hidden;
    }

    .menu a {
        padding: 1rem 0;
    }

    .btn-mobile {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    .hamburguer {
        color: var(--color-text-white);
        border-top: 3px solid;
        width: 24px;
    }

    .hamburguer::before,
    .hamburguer::after {
        width: 24px;
        height: 3px;
        background: currentColor;
        content: " ";
        display: block;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    }

    .nav.active .hamburguer {
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -8px;
    }
}

/* main */
.apresentation {
    align-items: center;
    background-color: var(--color-background-black);
    color: var(--color-text-white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.apresentation h1 {
    margin-bottom: 20px;
}

.apresentation h1 span {
    font-family: 'Noto Serif', serif, sans-serif;
    font-size: 1.8em;
}

h1 span::after {
    background-color: #fff;
    bottom: 0;
    content: " ";
    height: 3px;
    left: 0;
    transition: 0.5s ease-in-out;
    width: 0%;
    z-index: 1;
}

h1 span:hover::after {
    width: 100%;
}

.apresentation h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.apresentation img {
    border-radius: 50%;
    height: 200x;
    margin-bottom: 42px;
    width: 200px;
}

.apresentation-content {
    height: 100%;
}


.social {
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.social div {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
}

.social img {
    transition: 0.2s all ease-in;
    cursor: pointer;
    height: 32px;
    margin: 0;
    width: 32px;
}

.social img:hover {
    height: 40px;
    transition: 0.2s all ease-in;
    width: 40px;
}

.languages-icons div {
    align-items: center;
    display: flex;
    height: 180px;
    justify-content: center;
    width: 180px;
}

.languages-icons img {
    transition: 0.2s all ease-in;
    cursor: pointer;
    height: 140px;
    width: 140px;
}

.language-container {
    text-align: center;
    background-color: var(--color-text-white);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.language-container h2 {
    color: rgb(255, 255, 255);
    position: absolute;
}

.block {
    background-color: rgba(0, 0, 0, 0.800);
    height: 100%;
    position: absolute;
    width: 100%;
}

.language--top {
    align-items: center;
    background-size: cover;
    background-image: url("https://img.freepik.com/fotos-gratis/codificacao-de-programa-de-computador-na-tela_53876-138060.jpg?t=st=1736473984~exp=1736477584~hmac=a17c7f76342fb7d138a3780c7e8aaf723734347c8bab6ae6813003d73988cfb1&w=1060");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    height: 142px;
    justify-content: center;
    position: relative;
}

/* Estilização geral */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-language {
    width: 150px;
    height: 200px;
    margin: 8px;
    perspective: 1000px;
    /* Necessário para criar o efeito 3D */
    cursor: pointer;
    position: relative;
}

.card-language div {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    position: absolute;
    backface-visibility: hidden;
    /* Oculta o verso quando não está visível */
    transition: transform 0.6s ease-in-out;
}

.card-front {
    background-color: var(--color-text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.895);
}

.card-front img {
    width: 140px;
    height: auto;
}

.card-back {
    background-color: var(--color-background-black);
    color: var(--color-text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    /* Inverte o verso */
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.524);
}

/* Classe para alternar o flip */
.card-language.flipped .card-front {
    transform: rotateY(180deg);
}

.card-language.flipped .card-back {
    transform: rotateY(0);
}

.react {
    animation: rotate 16s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.discord {
    display: none;
}

.discord--text {
    cursor: default;
    opacity: 0;
    transition: 2s;
}

.discord--text.active {
    cursor: text;
    opacity: 1;
    transition: 2s;
}

.apresentation-text {
    align-items: center;
    background-color: white;
    color: var(--color-background-black);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 120ch;
    width: 100%;
    padding: 24px 0;
    text-align: justify;
}

.apresentation-text p {
    margin-bottom: 10px;
}

.apresentation-paragraph {
    display: block;
    height: 40px;
}

.apresentation-text>div {
    width: 90%;
}

.apresentation-text a {
    color: var(--color-background-black);
}

.apresentation-text a:hover {
    color: rgba(0, 0, 0, 0.673);
}

.name-apresentation {
    animation: blinkCursor 500ms steps(20) infinite normal,
        typing 2s steps(250) 1s normal both;
    display: inline-block;
    font-weight: bolder;
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }
}

@keyframes blinkCursor {
    from {
        border-right: 2px solid rgba(0, 0, 0, 0.673);
    }

    to {
        border-right: transparent;
    }
}

@media (max-width: 700px) {
    .experience-paragraph {
        display: none;
    }
}

.portfolio {
    align-items: center;
    height: 700px;
    overflow: hidden;
}

.portfolio.active {
    align-items: center;
    height: 1020px;
}

@media (max-width: 1171px) {
    .portfolio {
        height: 1100px;
    }

    .portfolio.active {
        height: 1780px;
    }
}

@media (max-width: 788px) {
    .portfolio {
        height: 1500px;
    }

    .portfolio.active {
        height: 2560px;
    }
}

.portfolio--top {
    align-items: center;
    background-size: cover;
    background-image: url("https://img.freepik.com/fotos-gratis/vista-do-navegador-de-codigo-html-do-site-impressa-em-papel-branco-vista-closeup_211682-164.jpg?w=1060&t=st=1679385147~exp=1679385747~hmac=1994b32b6f9f836323ad2051449dccf5e841f0b6fea3d438b8dac48aeeed4bb9");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    height: 142px;
    justify-content: center;
    margin-bottom: 64px;
    position: relative;
}

.add--black {
    background-color: rgba(0, 0, 0, 0.921);
    height: 100%;
    position: absolute;
    width: 100%;
}

.portfolio--top h2 {
    color: white;
    position: absolute;
}

.portfolio--works {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin: 20px;
}

.work {
    align-items: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
    border-radius: 0 28px;
    display: flex;
    justify-content: center;
    min-height: 350px;
    min-width: 350px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: 1s;
}

.tech {
    color: var(--color-background-black);
    font-size: large;
    font-size: 26px;
    padding: 44px;
}

.main-tech {}

.seconday-techs {}

.work:hover.active {
    border-radius: 4px;
    transition: 0.5s;
    transform: scale(1.02) translateY(-8px);
}

.soon {
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    display: flex;
    font-weight: 700;
    font-size: 22px;
    height: 72px;
    justify-content: center;
    position: absolute;
    transform: rotate(-45deg);
    width: 150%;
}

.hover-white {
    align-items: center;
    color: white;
    display: flex;
    font-size: 1.5em;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
    width: 100%;
}

.hover-white:hover {
    background: rgba(109, 109, 109, 0.953);
    opacity: 1;
    transition: 0.5s;
}

.btn-show {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-down {
    animation: btnDown 0.6s ease-in-out;
    position: absolute;
}

.btn-up {
    animation: btnUp 0.6s ease-in-out;
    position: absolute;
}

@keyframes btnDown {
    0% {
        top: 0px;
    }

    25% {
        top: -10px;
    }

    100% {
        top: 32px;
    }
}

@keyframes btnUp {
    0% {
        top: 0px;
    }

    25% {
        top: 10px;
    }

    100% {
        top: -32px;
    }
}

.portfolio.active .btn-show-1 {
    display: none;
}

.btn-mostrar-mais {
    background-color: #1f1f1fe1;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 10px;
    height: 40px;
    transition: .3s all ease-in-out;
}

.container-btn {
    align-items: flex-end;
    display: flex;
    height: 46px;
    justify-content: center;
    position: relative;
    width: 125px;
}

.container-btn:hover .btn-mostrar-mais {
    background-color: var(--color-background-black);
    cursor: pointer;
    margin-bottom: 6px;
    transition: .3s all ease-in-out;
}

.work.off {
    background: linear-gradient(var(--color-background-black), rgba(0, 0, 0, 0.571), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: 2s;
}

.footer {
    align-items: center;
    background-color: var(--color-background-black);
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
}

.contact {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 150px;
    justify-content: center;
    padding: 15px;
}

.contact h3 {
    font-size: 26px;
    margin-bottom: 8px;
}

.email-txt {
    color: rgba(22, 136, 218, 0.927);
    text-decoration: none;
}

.email-txt:hover {
    color: rgb(22, 136, 218);
}

.copy {
    align-items: center;
    background-color: #0000003a;
    color: rgba(255, 255, 255, 0.64);
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}