@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-background-black: rgba(0,0,0,0.87);
    --color-text-white: #fff;
}

/* HEADER */
.logo{
    border-radius: 50%;
    border-right: 4px solid white;
    display: inline-block;
    height: 50px;
    margin-left: 50px;
    width: 50px;
}

.logo:hover{
    animation-name: rotateLogo;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.logo span{
    font-size: 1.6em;
    font-family: 'Noto Serif', serif, sans-serif;
    position: fixed;
    top: 8px;
    left: 63px;
}

.header{
    align-items: center;
    color: var(--color-text-white);
    display: flex;
    font-size: 1.3em;
    font-weight: 600;
    height: 60px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.wrap-header{
    background-color: #1f1f1f;
    box-shadow: 0px 2px 10px #161616d2;
    transition: 0.3s ease-in;
}

.menu{
    display: flex;
    list-style: none;
    gap: 8px;
    position: relative;
    margin-right: 50px;
}

.nav a{
    position: relative;
    padding-bottom: 6px;
}

.nav a::after{
    background-color: #fff;
    bottom: 0;
    content: " ";
    height: 3px;
    left: 0;
    position: absolute;
    transition: 0.5s ease-in-out;
    width: 0%;
}

.botton-effect:hover::after{
    width: 100%;
}


.menu a{
    color: var(--color-text-white);
    padding: 4px 8px;
    text-decoration: none;
}


@keyframes rotateLogo{
    0%{
        border-right: 4px solid white;
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 0px solid rgba(0, 0, 0, 0);
    }
    25%{
        border-right: 0px solid rgba(0, 0, 0, 0);
        border-bottom: 4px solid white;
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 0px solid rgba(0, 0, 0, 0);
    }
    50%{
        border-right: 0px solid rgba(0, 0, 0, 0);
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 4px solid white;
        border-top: 0px solid rgba(0, 0, 0, 0);
    }
    75%{
        border-right: 0px solid rgba(0, 0, 0, 0);
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 4px solid white;
    }
    100%{
        border-right: 4px solid white;
        border-bottom: 0px solid rgba(0, 0, 0, 0);
        border-left: 0px solid rgba(0, 0, 0, 0);
        border-top: 0px solid rgba(0, 0, 0, 0);
    }
}

.btn-mobile{
    margin-right: 50px;
    display: none;
}

@media (max-width: 600px){
    .menu{
        margin-right: 0;
        font-size: 2rem;
        text-align: center;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 59px;
        right: 0;
        height: 0px;
        transition: .6s ease-in-out;
        visibility: hidden;
        overflow-y: hidden;
        overflow: auto;
        z-index: 1000;
    }

    .menu li{
        padding: 26px;
    }

    .nav.active .menu{
        visibility: visible;
        height: calc(100vh - 59px);
    }

    .header.active{
        background-color: #1f1f1f;
    }

    body.active{
        overflow: hidden;
    }

    .menu a{
        padding: 1rem 0;
    }

    .btn-mobile{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    .hamburguer{
        color: var(--color-text-white);
        border-top: 3px solid;
        width: 24px;
    }

    .hamburguer::before, .hamburguer::after{
        width: 24px;
        height: 3px;
        background: currentColor;
        content: " ";
        display: block;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    }

    .nav.active .hamburguer{
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -8px;
    }
}

/* main */

.apresentation{
    align-items: center;
    background-color: var(--color-background-black);
    color: var(--color-text-white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.apresentation h1{
    margin-bottom: 20px;
}

.apresentation h1 span{
    font-family: 'Noto Serif', serif, sans-serif;
    font-size: 1.8em;
}

h1 span::after{
    bottom: 0;
    background-color: #fff;
    content: " ";
    height: 3px;
    left: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    width: 0%;
}

h1 span:hover::after{
    width: 100%;
}

.apresentation h2{
    font-size: 2em;
    margin-bottom: 20px;
}

.apresentation img{
    border-radius: 50%;
    height: 134px;
    margin-bottom: 42px;
    width: 130px;
}


.social{
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.social div{
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
}

.social img{
    height: 32px;
    margin: 0;
    width: 32px;
}

.social img:hover{
    height: 40px;
    transition: 0.2s all ease-in;
    width: 40px;
}

.apresentation-text{ 
    background-color: white;
    width: 100%;
    line-height: 34px;
    align-items: center;
    font-size: 1.3em;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    color: var(--color-background-black);
}

.apresentation-text p {
    margin-bottom: 3vh;
}

.apresentation-paragraph{
    display: block;
    height: 40px;
}

.apresentation-text > div{
    width: 90%;
}


.apresentation-text a{
    color: var(--color-background-black);
}

.apresentation-text a:hover{
    color: rgba(0, 0, 0, 0.673);
}

.name-apresentation{
    white-space: nowrap;
    animation: blinkCursor 500ms steps(20) infinite normal,
    typing 2s steps(250) 1s normal both;
    display: inline-block;
    font-weight: bolder;
    font-size: 1.5em;
    overflow: hidden;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 10.5em;
    }
}

@keyframes blinkCursor{
    from{
        border-right: 2px solid rgba(0, 0, 0, 0.673);
    }
    to{
        border-right: transparent;
    }
}

/*REVEAL SCROLL*/