.social {
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.social div {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
}

.social img {
    transition: 0.2s all ease-in;
    cursor: pointer;
    height: 32px;
    margin: 0;
    width: 32px;
}

.social img:hover {
    height: 40px;
    transition: 0.2s all ease-in;
    width: 40px;
}